<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="{{page.keywords}}">
{% if page.excerpt %}
<meta name="description" content="{{page.excerpt | remove: '<p>' | remove: '</p>' | strip_newlines}}">
{% else %}
<meta name="description" content="{{page.content}}">
{% endif %}

<title>{{page.title}}</title>
<link rel="shortcut icon" href="{{ '/assets/images/favicon.ico'}}" type="image/x-icon">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision}}">


<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?21e78d26d4fd313c9278272efad48e07";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-98680431-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-98680431-1');
</script>