---
--- 
@import 'github-markdown';
@import 'theme/syntax.github';

// 变量
$text-primary: #235A9F;
html {
    font-size: 10px; // scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #F2F2F2;
    font-size: 1.3em;
    color: #333;
    line-height: 1.42857143;
    padding: 0;
    margin: 0 10px;
    h1,
    h2,
    h3 {
        letter-spacing: 1px;
    }
}

.content {
    margin: 0 auto;
    max-width: 860px;
    .header {
        height: 50px;
        margin-top: 2.8em;
        display: flex;
        a {
            display: block;
            &:focus,
            &:hover {
                outline: none;
                text-decoration: none;
            }
        }
        .logo {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            font-size: 28px;
            color: $text-primary;
            letter-spacing: 1.2px;
            img {
                width: 38px;
                margin-right: 8px;
            }
            div {
                line-height: 1;
            }
        }
    }
    .nav {
        display: flex;
        flex-wrap: wrap;
        a {
            color: inherit;
        }
        div {
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 2px 8px;
            border-radius: 3px;
            box-shadow: 0 1px 1px #eee;
            cursor: pointer;
            &.active {
                color: $text-primary;
            }
        }
    }
    .box {
        min-height: calc(100vh - 240px);
        &.tag {
            min-height: calc(100vh - 280px);
        }
    }
    .menu {
        position: fixed;
        left: 50%;
        top: 0;
        margin-left: 450px;
        top: 13vh;
        width: 160px;
        height: 70vh;
        background: #fff;
        overflow-y: auto;
        padding: 2vh 0;
        padding-right: 8px;
        z-index: 999;
        div {
            padding: 3px 0;
            color: #767676;
            display: flex;
            align-items: center;
            a {
                text-decoration: none;
                color: inherit;
                display: block;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &.h2 {
                font-size: 13px;
                padding-left: 8px;
            }
            &.h3 {
                font-size: 12px;
                padding-left: 18px;
                color: #999;
            }
            &.active {
                border-left: 2px solid #0366d6; // padding-left: 6px;
                color: #0366d6;
            }
        }
    }
    .post {
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 1px #aaa; // box-sizing: border-box;
        padding: 2em;
        margin: 2em auto;
        &.page {
            .title {
                text-align: center;
            }
        }
        .title {
            h2 {
                color: #222;
                font-size: 1.8em;
                margin: 0 0 .3em;
                font-weight: 500;
                a {
                    color: #222;
                }
            }
            p {
                color: #999;
                font-size: 90%;
                margin: 0 0 1.8em;
            }
        }
        .description {
            color: #707070;
            font-size: 1.15em;
            font-weight: 400;
            letter-spacing: 0.01em;
            line-height: 1.5em;
        }
    }
    .footer {
        margin: 0 auto;
        padding: 1em;
        border-top: 1px solid #dbdbdb;
        p {
            color: #aaa;
            font-size: 90%;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.progress {
    position: fixed;
    top: 0;
    width: 0;
    height: 3px;
    margin-left: -10px;
    margin-right: -10px;
    background: $text-primary;
}

#comments {
    background: #ffffff;
    padding: 20px;
}

.markdown-body {
    .highlight pre {
        background-color: inherit;
    }
    code {
        background-color: rgba(147, 190,245, .5);
    }
}

.emoji {
    vertical-align: middle;
}

.none {
    visibility: hidden;
}

a,
a:focus,
a:hover {
    color: $text-primary;
    outline: none;
    text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    border-radius: 4px;
    a,
    em,
    span {
        padding: 6px 12px;
        background: #fff;
        border: 1px solid #ddd;
        margin-left: -1px;
    }
    em {
        background: #337ab7;
        border-color: #337ab7;
        color: #fff;
        cursor: default;
    }
}

.page-paginator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    padding: 2em 1em;
    background: #fff;
    >div {
        flex: 1;
        flex-wrap: nowrap;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.page-prev {
            margin-right: 2em;
        }
        &.page-next {
            margin-left: 2em;
            text-align: right;
        }
    }
}

@media screen and(max-width: 1200px) {
    .content {
        .menu {
            display: none;
        }
    }
}

@media screen and(min-width: 1600px) {
    .content {
        max-width: 70vw;
        .menu {
            left: 50%;
            margin-left: calc(35vw + 20px);
        }
    }
}