<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | prepend: site.github.url }} " type="image/x-icon">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | prepend: site.github.url }}">
</head>

<body>
    <div class="content">

        {% include header.html %}
        
        {% for post in site.posts %}
        <section class="post">
            <div class="title">
                <h2>
                    <a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a>
                </h2>
                <p>
                    Posted on
                    <a href="#">{{post.date}}</a> | By
                    <a href="#">{{post.tags}}</a>
                </p>
            </div>
            <div class="description">
                <p>
                    {{post.excerpt}}
                </p>
            </div>
        </section>
        {% endfor %}
        
        {% include footer.html %}
    </div>
</body>

</html>