<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
</head>

<body>
    <div class="content">

        {% include header.html %}
        
        {% for post in site.posts %}
        <section class="post">
            <div class="title">
                <h2>
                    <a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a>
                </h2>
                <p>
                    Posted on
                    <a href="javascript:;">{{post.date | date: "%Y-%m-%d"}}</a> | By
                    <a href="/tag/{{post.tags}}">{{post.tags}}</a>
                </p>
            </div>
            <div class="description">
                <p>
                    {{post.excerpt | remove: '<p>' | remove: '</p>'}}
                </p>
            </div>
        </section>
        {% endfor %}
        
        {% include footer.html %}
    </div>
</body>

</html>