<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <div class="content">

        {% include header.html %}
        <section class="page post markdown-body">
            <div class="title">
                <h2>
                    {{ page.title }}
                </h2>
                <p>
                    Posted on
                    <a href="javascript:;">{{page.date | date: "%Y-%m-%d"}}</a> | By
                    <a href="/tag/{{page.tags}}">{{page.tags}}</a>
                </p>
            </div>
            
            {{content}}
        </section>
        {% include footer.html %}
    </div>
</body>

</html>