<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
</head>

<body>
    <div class="content">

        {% include header.html %}

        <div class="menu"></div>

        <section class="page post markdown-body">
            <div class="title">
                <h2>
                    {{ page.title }}
                </h2>
                <p>
                    Posted on
                    <a href="javascript:;">{{page.date | date: "%Y-%m-%d"}}</a> | By
                    <a href="/tag/{{page.tags}}">{{page.tags}}</a>
                </p>
            </div>

            {{content}}
        </section>

        <div id="comments"></div>
        {% include footer.html %}
    </div>

    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            id: window.location.pathname,
            owner: 'liurongqing',
            repo: 'liurongqing.github.io',
            oauth: {
                client_id: 'f6754cf0afae59e289ab',
                client_secret: 'b837346bc15dd716cc905e393a0549aa478cb018'
            }
        })
        gitment.render('comments');
    </script>
</body>

</html>