<!doctype html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    {% seo %}
    <link rel="shortcut icon" href="{{ 'images/favicon.png?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/common.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/page.css?v=' | append: site.github.build_revision | relative_url }}">

    <script src="{{ '/js/jquery-3.3.0.min.js' | relative_url }}"></script>
    <script src="{{ '/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>

<body>
    <div class="wrapper">
        <nav>
            <ul>
            </ul>
        </nav>
        <section>
            <div class="page-title">{{page.title}}</div>
            {{ content }}
        </section>
        <footer>
            @2018
        </footer>
    </div>
</body>

</html>