<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <div class="content">

        {% include header.html %}

        {% include tag.html %}

        {% for post in site.tags[page.tags] %}
        <section class="post">
            <div class="title">
                <h2>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h2>
                <p>
                    Posted on
                    <a href="javascript:;">{{post.date | date: "%Y-%m-%d"}}</a> | By
                    <a href="javascript:;">{{post.tags}}</a>
                </p>
            </div>
            <div class="description">
                <p>

                    {{post.excerpt}}

                </p>
            </div>
        </section>
        {% endfor %} {% include footer.html %}
    </div>
</body>

</html>